<p id="notice"><%= notice %></p>

<h1>Vdos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vdos.each do |vdo| %>
      <tr>
        <td><%= vdo.title %></td>
        <td><%= vdo.body %></td>
        <td><%= link_to 'Show', vdo %></td>
        <td><%= link_to 'Edit', edit_vdo_path(vdo) %></td>
        <td><%= link_to 'Destroy', vdo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vdo', new_vdo_path %>
